{% extends "base_site.html" %}

{% block title %} Data Tables {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Data Tables<small>Tables showing app data.</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" id="allVersBtn">View All Versions</a>
                    </li>
                    <li><a href="#" id="shortVBtn">View Short Answers</a>
                    </li>
                    <li><a href="#" id="longVBtn">View Long Answers</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <p class="text-muted font-13 m-b-30">                
                Table shows results from both short and long versions of the application, click on the settings to change which data can be accessed.
              </p>

              <table id="datatable-buttons" class="table table-striped table-bordered" width="inherit">
                <thead>
                  <tr>
                    <th>User ID</th>
                    <th>Version</th>
                    <th>Species</th>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Andanda Dates</th>
                    <th>Prominent Day</th>
                    <th>Another Andanda</th>
                    <th>Time of Day</th>
                    <th>Berried Females</th>
                    <th>Habitat</th>
                    <th>State</th>
                    <th>County</th>
                    <th>Local Name</th>
                    <th>Protected Area</th>
                    <th>Profession</th>
                    <th>Additional Observations</th>
                    <th>Submission Date</th>
                  </tr>
                </thead>

                <tbody>
                  {% for entry in test %}
                    <tr>
                     <td>{{ entry.uuid }}</td>
                     <td>{% if entry.type == 0 %}
                          {{ "Short" }}
                        {% else %}
                          {{ "Long" }}
                        {% endif %}</td>
                     <td>{% if entry.species == 0 %}
                         {{ "Ucides" }}
                       {% else %}
                         {{ "Cardisoma" }}
                       {% endif %}</td> 

                     <td>{{ entry.year }}</td>
                     <td>{% set months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"] %}
                       {{ months[entry.month] }}</td>
                     <td>{% if entry.dateRange is string %}
                           {{ entry.dateRange }}
                          {% else %}
                           {{ entry.dateRange|join('\n') }}
                          {% endif %}</td>
                     <td>{{ entry.prominent }}</td>
                     <td>{% set ans = ["Yes", "No", "Don't Know"] %}
                        {% set how = ["Lower", "Similar", "Higher", "Don't Know"] %} 
                        {% if entry.another is defined %}
                          {% if entry.another[0]|int == 0 %}
                           {{ "Yes, " }} {{ how[entry.another[1]|int] }}
                          {% else %}
                           {{ ans[entry.another[0]|int] }}
                          {% endif %}
                        {% endif %}</td>
                     <td>{% set times = ["Day", "Night", "Both", "Don't Know"]%}
                       {{ times[entry.timeofday] }}
                     </td>
                     <td>{{ entry.berried }}</td>
                     <td>{% set habitats = [["Manguezal","Mata","Praia","Estrada","Outro"], ["Manguezal","Apicum","Mata","Praia","Estrada","Casa","Outro"]] %}
                      {% if entry.habitat is defined %}
                        {% for item in entry.habitat %}
                          {% if item == "true" %}
                            {{ habitats[entry.species][loop.index0]+"\n" }}
                          {% endif %}
                        {% endfor %}                        
                      {% endif %}
                     </td>
                     <td>{{ entry.state }}</td>
                     <td>
                        {% if entry.county is string %}
                          {{ entry.county }}
                        {% else %}
                          {{ "Other - "+ entry.county[1] }}
                        {% endif %}
                      </td>
                     <td>{% if entry.localName is defined %}
                          {{ entry.localName[0] }}
                         {% endif %}</td>
                     <td>{% if entry.protectedArea is defined %}
                            {% if entry.protectedArea[0]|int == 0 %}
                              {{ regions[entry.state]['protectedAreas']['original'][entry.protectedArea[1]|int] }}
                            {% else %}
                              {{ ans[entry.protectedArea[0]|int] }}
                            {% endif %}
                          {% endif %}</td>
                     <td>{% if entry.job is string %}
                            {{ entry.job }}
                          {% else %}
                            {{ "Other - " + entry.job[1] }}
                          {% endif %}</td>
                     <td>{{ entry.additionalObs }}</td>
                     <td>{{ entry.submission }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel" id="usertable">
            <div class="x_title">
              <h2>User Data Tables<small>Showing user retention.</small></h2>

              <ul class="nav navbar-right panel_toolbox">

                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#usertable" id="allVersBtn">View Both Species</a>
                    </li>
                    <li><a href="#usertable" id="shortVBtn">View Ucides Only</a>
                    </li>
                    <li><a href="#usertable" id="longVBtn">View Cardisoma Only</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              
              <p class="text-muted font-13 m-b-30">                
                <span style="float:left;">Table shows results from both species per user, click on the settings to change which data can be accessed.</span>              </p>

                <div id="reportrange_user" class="pull-right" style="float:right; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span></span> <b class="caret"></b>
                  </div>



                
              <table id="useratable-buttons" class="table table-striped table-bordered" width="inherit"> 
               <!-- <thead>
                  <tr>
                    <th>User ID</th>
                    <th>Total Selected</th>
                    <th>Total All Time</th>
                  </tr>
                </thead>

                <tbody>
                  {% for entry in userlist %}
                    <tr>
                     <td>{{ entry }}</td>
                     <td>
                      {{ userlist[entry]["ucid"], userlist[entry]["card"] }}
                    </td>
                    <td>
                      {{ userlist[entry]["card"]|length + userlist[entry]["ucid"]|length }}
                    </td>
                    </tr>
                  {% endfor %} 
                </tbody> -->
              </table>

              <script>
                var userdata = JSON.parse('{{ userlist|tojson|safe }}');
              </script>



            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- Datatables -->
  <script src="{{ url_for('static', filename='datepick.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>

  <script src="{{ url_for('static', filename='tables.js') }}"></script>
{% endblock javascripts %}
